html{
  min-height:100%;
  overflow-x:hidden;
}

.logo{
    margin-top: 0.8%;
    float:left;
    width: 15%;
    height:auto;
}

.bodyParagraph{
    background-color: #798590;
    font-size:150%;
    border: 2px solid black;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    width: 33%;
    height: auto;
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    padding: 2%;
}

.bodyParagraph2{
  background-color: #798590;
  font-size:125%;
  border: 2px solid black;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  width: 25%;
  height: auto;
  float: left;
    margin-top: 2%;
  margin-left: 5%;
  padding: 2%;
}

.bodyParagraph3{
  font-size: 120%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #000000;
  width: 500px;
  height: 650px;
  float: right;
  position: absolute;
  margin: 2%;
  padding: 1%;
  margin-left: 3%;
  margin-top: 10%;
}

.bodyParagraph4{
  background-color: #798590;
  font-size:125%;
  border: 2px solid black;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  width: 40%;
  height: auto;
  float: left;
    margin-top: 3%;
  margin-left: 57%;
  padding: 2%;
}

.photo1{
  height: auto;
  width: 60.0%;
  border: 5% solid black;
  margin-left: 5%;
    margin-top: 2%;
}

.photo3{
  height: auto;
  width: 62.2%;
  border: 5% solid black;
  margin-left: 33%;
    margin-top: 2%;
}

/*Slideshow Code*/

* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

.myText {
  display: none;
}

img {
  vertical-align: middle;
  height: 500px;
  width: 500px;
  margin-bottom: 35px;
}*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2.5s ease;
}

.active, .dot:hover {
  background-color: #2A2A2A;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text  {font-size: 11px}
}

.left{
    float:left;
    width: 10%;
    height:auto;
}

header{
   
}
body{
    background-color: whitesmoke
    }
    